/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}
p{padding:20px;
margin: 20px;
}

/* Global styles */
body {
	background-color:#3d59ab;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 30px;
    color: #fff;
}
h2{ 
	padding:10px;
	margin: 10px;
	}

article {
	position:relative;
    padding: 20px;
	background-color:rgb(204, 204, 255);
	border-radius:20px;
	margin: 20px;
}


#projects {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 5px;
    color: #fff;
}
.image{
	float:left;
	padding:10px;
	margin:10px;
	height:300px;
	width:300px;
	border-radius: 30px;
}

button {
	float:right;
	margin:20px;
	}